<article id="<%= dom_id customer %>" class="py-6 prose dark:prose-invert">
    <p class="mb-0 font-semibold">
      Name
    </p>
    <p class="my-0">
      <%= customer.name %>
    </p>
    <p class="mb-0 font-semibold">
      Email
    </p>
    <p class="my-0">
      <%= customer.email %>
    </p>
    <p class="mb-0 font-semibold">
      Phone
    </p>
    <p class="my-0">
      <%= customer.phone %>
    </p>
    <p class="mb-0 font-semibold">
      Address
    </p>
    <p class="my-0">
      <%= customer.address %>
    </p>

   <p>
    <%= link_to "View Customer", customer, class: "underline" %>
  </p>

  <time class="text-slate-600 dark:text-slate-400 text-xs mt-2" datetime="<%= customer.created_at.to_formatted_s(:long) %>">Created <%= time_ago_in_words(customer.created_at) + " ago" %></time>
</article>
